body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f2f4f8;
}
header {
background-color: #1e88e5;
color: white;
text-align: center;
padding: 30px;
}
header h1 {
margin: 0;
font-size: 36px;
}
nav {
    background-color: #0d47a1;
    text-align: center;
    padding: 12px;
}

nav button {
    background-color: transparent;
    color: white;
    border: none;
    margin: 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

nav button:hover {
    color: yellow;
}main {
width: 80%;
margin: 30px auto;
}
.tarjeta {
background-color: white;

border: 2px solid #d0d7de;
border-radius: 10px;
padding: 20px;
margin-bottom: 20px;
}
.tarjeta h2 {
color: #1e88e5;
}
footer {
background-color: #0d47a1;
color: white;
text-align: center;
padding: 15px;
}

.seccion {
    display: none;
}

.seccion.activa {
    display: block;
}